<h1>Selected Figure:</h1>
<table>
  <tr>
      <p>Person Name: <a href="/figures/<%= @figure.id %>"><%= @figure.name %></a></p>
      <p>Landmarks:</p>
        <%@figure.landmarks.each do |landmark|%>
        <li><%=landmark.name%></li>
        <%end%>
      <p>Titles:</p>
        <%@figure.titles.each do |title|%>
        <li><%=title.name%></li>
        <%end%>
  </tr>
</table>
<br>
<a class="button" href="/">Go Home</a>
